:host {
  background-image: url(../../../assets/img/bg/ice-dragon.webp);
}

h1 {
  position: absolute;
  top: 36px;
  right: 50px;
  font-size: 58px;
  letter-spacing: 10px;
}

.menu-wrap {
  position: absolute;
  top: 110px;
  left: 90px;
  width: 300px;
}

logo {
  margin-bottom: 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 38px;

  button:first-child {
    clip-path: polygon(30px 0, 0 15px, 0% 100%, 100% 100%, 100% 15px, calc(100% - 30px) 0);
  }

  button:last-child {
    clip-path: polygon(0 0, 0 calc(100% - 15px), 30px 100%, calc(100% - 30px) 100%, 100% calc(100% - 15px), 100% 0);
  }
}

footer-panel {
  position: absolute;
  right: -30px;
  bottom: 16px;
}
